# node
node_modules/


# local config
config/*.local.json
config/*.secret.json
accounts_data/*.local.json
accounts_data/*.secret.json


# logs
logs/


# env
.env
.env.local


# OS
.DS_Store
thumbs.db


# VSCode
.vscode/
